#grid{
	height: 300px;
}
#grid .slick-viewport {
    overflow-x: auto;
}

.slick-header-column {
  height: 25px !important;
}
.recline-slickgrid *{
	box-sizing: content-box;
}
/* NVD3 Overrides */
.nvtooltip h3 {
	font-size: 13px;
	font-weight: bold !important;
}